.container-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  width: 100%;
}

img {
  width: 100%;
  height: 10rem;
  background-position: center;
  margin: auto;
  display: block;
}
